/* css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*style*/

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(238, 235, 235);
    font-size: 16px;
}

#header {
    width: 100%;
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(206, 202, 202);
}

#header img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}

#nav-bar ul {
    display: flex;
    padding-right: 50px;
    gap: 120px;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    color: black;
}

a:visited {
    color: rgb(61, 58, 58);
}

.content {
    margin-top: 50px;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: black;
    padding-top: 40px;
}

#form {
    text-align: center;
    margin: 1.5em;
    padding: 10px;
    box-sizing: border-box;
}

#form #email {
    width: 250px;
    height: 25px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

#form #submit {
    width: 150px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    background-color: #f1c40f;
    border: none;
    box-sizing: border-box;
}

.container {
    width: 1000px;
    display: flex;
    box-sizing: border-box;
    margin: auto;
    padding: 2em;
    gap: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.icon i{
    display: block;
    padding: 28px;
    box-sizing: border-box;
}

.premium_materials {
    margin: 20px 0;
}

.fast_shipping {
    margin: 50px 0;
}

.features header {
    font-size: 1.5em;
    font-weight: bold;
}

.features p {
    padding-top: 10px;
}

.container .icon i {
    color: orange;
}

.video{
    margin: 3em auto;
    padding: 10px;
    width: 800px;
    box-sizing: border-box;
}

.video {
    display: flex;
    justify-content: center;
}

iframe {
    width: 650px;
    height: 350px;
    left: 60px;
}

.card_price {
    margin: 4em auto;
    padding: 10px;
    width: 1000px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

.tenor_trombone, .bass_trombone, .valve_trombone {
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    width: 300px;
    line-height: 2em;
}

.card_price header {
    padding: 15px;
    background-color: rgb(206, 202, 202);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.card_price .price {
    font-size: 1.5em;
    padding: 10px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.card_price .detail {
    font-size: 1em;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 25px;
}

.card_price button {
    width: 100px;
    height: 35px;
    margin-top: 2em;
    margin-bottom: 20px;
    background-color: #fac906;
    font-size: 1em;
    border: none;
    box-sizing: border-box;
}

.footer {
    width: 1000px;
    margin: auto;
    box-sizing: border-box;
    background-color: rgb(206, 202, 202);
}

.footer .footer_list {
    padding: 10px;
    padding-bottom: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    font-size: 1em;
    list-style: none;
    color: black;
}

.footer p {
    text-align: end;
    padding: 10px;
    padding-bottom: 1.5em;
    padding-right: 20px;
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(49, 48, 48, 0.801);
}

button {
    cursor: pointer;
}

button:hover {
    background-color: orange;
    transition: 1s;
}

#nav-bar a:hover {
    color: rgb(10, 10, 180);
}

@media (max-width: 600px) {
    header {
    flex-wrap: wrap;
    color: black;
    }
}

@media (max-width: 600px) {
    .footer p {
        text-align: start;
    }
}